* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #333333;
    color: #B27EFC;
}

body a {
    color: #FE6EC1;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

#content a:hover {
    background-color: #FE6EC1;
    color: #333333;ug
}

.header {
  top: 50%;
  transform: ttranslateY(-50%);
}

.header a {
    text-align: center;
    margin: 0px auto;
}

.header a:hover {
    background-color: #333333;
}

.header h1 {
    display: inline-block;
    font-family: 'Train One', cursive;
    text-align: center;
    font-size: 64px;
    font-weight: 100;
    line-height: 1;
}

.logosquare {
  display: inline-block;
  width: 72px;
  height: 72px;
  margin-bottom: -10px;
  background-image: url(/images/uncoded-button-logo.svg);
  background-position: center;
  background-size: cover;
}

.headarea {
    text-align: center;
}
  
.headarea .logo {
    transition: 0.1s;
}
  
.headarea .logo:hover {
    transform: scale(0.95) rotate(-3deg);
}

.contentblock {
  max-width: 1200px;
  margin: 0px auto;
}

.menu {
    text-align: center;
}

.menu ul {
    margin: 0px;
    padding: 0px;
}

.menu li {
    list-style: none;
    display: inline-block;
    margin: 0px;
}
